/* this is to reset default settings */
*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* this is for default html settings, to get all settings */
html{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}
/* this is for the nav */
a{
    text-decoration: none;
    background-color: white;
    color: pink;
    font-size: 24px;
    text-align: center;
    margin-top: 5px;
}

  /* mouse over link */
  a:hover {
    color: #FF00FF;
  }
  
  /* selected link */
  a:active {
    color: #0000FF;
  }

/* this is to apply grid layout to different sections of the page*/
.wrapper{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: auto 80%;
    grid-template-areas: 
    "main   article"
    "main   article"
    "main   footer";
}
/* this is the first section of my grid layout*/
.main{
    grid-area: main;
    background-color: rgb(199, 138, 150);
    
}
/* this is the second section of my grid layout*/
.article{
    padding: 15px;
    grid-area: article;
    background-color: rgb(113, 113, 143);
}
/*this is the third setion of my grid layout*/
.footer{
    grid-area: footer;
    background-color: rgb(199, 138, 150);
    padding: 15px;
}
/* this part makes the website mobile friendly and changes the layout of the grid*/
@media only screen and (max-width: 768px) {
    .wrapper{
        display: grid;
        grid-template-columns: 100% auto;
        grid-template-rows: 20% 100% auto;
        grid-template-areas: 
        "main"
        "article"
        "footer";
    }
    .pic{
        width: 250px; 
        padding-left: 10vw;
    }
    nav{
        height: 100%;
        margin-top: 25px;
        padding-left: 40%;
        text-align: center;
        position: absolute;
    }
}

/*this changes background color, color, and text formate of title*/
.title{
    text-align: center;
    color: white;
    background-color: black;
}

/*this changes all h1 tags*/
h1{
    color: white;
    text-align: center;
}
/*this changes all h2 tags*/

h2{
    color: white;
    text-align: center;
}
/*this changes all h3 tags*/

h3{
    color: white;
}
/*this changes all p tags*/

p{
    color: white;
}
/*this changes all img class tags*/

img{
    height: 50vh;
    width: 30vw;

}
/*this changes all pic class tags*/

.pic{
    width: 250px; 
    position: auto;
}
